* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    font-weight: 600;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.8rem;
}

button,
input,
textarea,
select {
    font-size: inherit;
    font-weight: inherit;
}
body {
    color: #333333;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
    margin: 0;
    line-height: 1.5;
    font-size: 1.6rem;
}

a, a:visited {
    text-decoration: none;
}

.cv-page {
    background-color: #6d2c2c;
    --primary-color: #21212a;
}
.cv-wrapper {
    width: 800px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.cv-info {
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 20px;
}
.cv-info-header {
    text-align: center;
}
.cv-info-body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.cv-info-body li {
    line-height: 3rem;
}
.cv-info-body .cv-detail-info {
    margin-left: 20px;
}
.box-cv-experience {
    background-color: #fff;
    color: var(--primary-color);
    flex-grow: 2;
    flex-basis: 0;
    padding: 20px;
}
.box-cv-experience ul {
    list-style-type: disc;
    padding-inline-start: 2.5rem;
}

.cv-avatar {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    background-image: url(../img/cv-avt.jpg);
    background-position: center;
    background-size: cover;
}

.box-cv-experience h1 {
    text-align: center;
    display: inline-block;
}

.box-cv-experience h2 {
    margin-bottom: 5px;
    border-bottom: 2px solid var(--primary-color);
}

.box-cv-experience h3 {
    text-align: justify;
    margin-bottom: -25px;
}

.box-cv-experience h3 span {
    display: inline-block;
}

.full-width {
    width: 100%;
}

/* css cho bài 2. Menu */
.box-menu {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.menu {
    background-color: #3e5cca;
    border-top: 5px solid #fff;
    font-size: 0;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 15px;
}
/* Thêm hiệu ứng hover cho các mục menu */
.menu li a:hover {
    background-color: #fff;
    color: #333333;
}
/* Tạo hiệu ứng active khi click vào menu */
.menu li a:active {
    background-color: #d6ddff;
    color: #333333;
}

.page-bg {
    width: 100%;
    height: 600px;
    background-color: #f2f2f2;
}

.menu > li {
    position: relative;
}
.sub-menu {
    width: 250px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3e5cca;
    padding: 0;
}

.menu li:hover .sub-menu {
    display: block;
}

/* tạo vách ngăn giữa các mục trên menu */
.menu > li:not(:last-child) {
    border-right: 1px solid #fff;
}
.menu li .sub-menu li:not(:last-child) {
    border-bottom: 1px solid #fff;
}
/* thêm một biểu tượng (icon) nhỏ trước mỗi thẻ li hoặc a trong menu */
.menu li a::before {
    content: "« ";
}
.menu li a::after {
    content: " »";
}

/* css cho form */
.form {
    width: 100%;
    height: 100%;
    background-color: #f1c698;
}

.box-form {
    width: 400px;
    margin: 30px auto;
    border-radius: 15px;
    padding: 20px 20px;
    background-color: #fff;
    /* background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%); */
}
.form-heading {
    text-align: center;
    font-size: 24px;
    font-weight: 650;
    margin-bottom: 20px;
}
.form-group {
    font-size: 16px;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
}

.form-group .form-text {
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #f1f4f9;
    font-size: 16px;
    width: 100%;
    color: #333333;
    padding: 5px 5px;
}

.form-group .form-text::placeholder {
    color: #b1c7d3;
}

/* tắt outline khi focus - mặc định của trình duyệt */
input:focus-visible {
    outline: none;
}
/* tất cả input đổi màu viền khi focus */
.form-group .form-text:focus {
    background-color: aliceblue;
    border: solid 1px #ffe4c7;
}

.form-label {
    display: inline-block;
    padding-bottom: 6px;
    font-weight: 500;
}

.form .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.btn {
    display: inline-block;
    border: none;
    background-color: #fe9305;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 16px;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;
    width: 100%;
}
.box-vertical label {
    display: block;
}
.form-footer {
    margin-top: 20px;
}

.link-item a {
    line-height: 2;
    color: #333333;
}
/* nhập text vào các input, 
nếu có lỗi (invalid) thì đổi màu viền input sang đỏ */
.form-text:focus:invalid {
    border: 1px solid rgb(255, 84, 84);
}

/* thêm dấu sao đỏ (*) cho các trường bắt buộc */
label:has(+ input:required):after {
    content: "*";
    color: red;
    margin-left: 2px;
}

/* Tạo hiệu ứng hover và active cho nút submit */
.btn:hover {
    background-color: #fca62e;
}
.btn:active {
    background-color: #fd9400;
    color: #b8e5fd;
}

/* Thêm style cho container/form khi có phần tử trong form được focus */
.box-form:focus-within {
    outline: 2px solid #ff9b18;
    box-shadow: 0 0 10px rgba(255, 155, 24, 0.7);
}

/* CSS pricing-table */
.pricing-body {
    background: #edeef7;
}

.pricing-header,
.pricing-footer {
    height: 100px;
    line-height: 100px;
}
.pricing-header,
.pricing-body,
.pricing-footer {
    text-align: center;
}
.pricing-body {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pricing-plan {
    background: #fff;
    border-radius: 25px;
    text-align: left;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}
.pricing-plan:hover {
    box-shadow: 3px 5px 10px rgb(35, 28, 112, 0.4);
}

.pricing-body .pricing-plan:nth-child(2) {
    background-color: #231c70;
    color: #fff;
}

.btn-pricing {
    padding: 8px 15px;
    background-color: #231c70;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
}

.box-term {
    /* background: #fff; */
    border-radius: 20px;
}

.btn-yearly {
    color: #231c70;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
}

.plan-title {
    font-size: 3rem;
    font-weight: 700;
}
.plan-price {
    font-size: 36px;
    font-weight: 700;
}

.pricing-body .pricing-plan:not(:nth-child(2)) .plan-price {
    color: #231c70;
}

.per-user {
    color: #adadad;
}
.plan-features {
    line-height: 25px;
}
.plan-features li::before {
    content: "▹ ";
    color: green;
}
.additional-features {
    align-self: stretch;
    padding-top: 20px;
    border-top: solid 1px #adadad;
    font-size: 12px;
    font-weight: bold;
    color: #adadad;
}
/* css cho blog-post */

.blog-container {
    font-family: "Be Vietnam Pro", sans-serif;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blog-container h1 {
    margin: 2rem 0;
}

.blog-container p,
blockquote {
    margin: 1.5rem 0;
}
.blog-container blockquote {
    font-style: italic;
}
.blog-container img {
    width: 100%;
}
.blog-container img + em {
    font-style: italic;
    text-align: center;
    display: block;
}

.blog-container table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
.blog-container th,
td {
    padding: 8px;
}
.blog-container tr:first {
    background-color: #f2f2f2;
}
/* .blog-container ul {
    list-style-type: disc;
    padding-inline-start: 2.5rem;
} */

.blog-container .comment-box {
    margin-top: 5rem;
}
.blog-container .comment-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
}
.blog-container .comment-compose,
.comment {
    margin-bottom: 1.5rem;
}
.blog-container .comment-compose {
    height: 70px;
    line-height: 50px;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    text-align: center;
    padding: 5px 10px 10px 10px;
}

.blog-container .comment-box img,
input,
button,
.comment-author-name {
    vertical-align: middle;
}
.blog-container .comment-author-name {
    display: inline-block;
    margin-left: 15px;
    font-weight: 600;
}
.blog-container .comment-message {
    padding-left: 60px;
}
.blog-container .comment {
    padding-left: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #f4fafd;
}
.blog-container .input-comment-compose {
    width: 78%;
    height: 115%;
    border: none;
    padding: 0 10px;
}
.blog-container .btn-comment-compose {
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #a7a7a7;
    color: #fff;
    font-weight: 600;
}
.blog-container .btn-comment-compose:active {
    background-color: #666666;
}

/* Sử dụng ::first-letter để tạo kiểu drop cap (chữ cái đầu lớn) cho đoạn văn đầu tiên */
.blog-container p:first-of-type::first-letter {
    font-size: 7.5rem;
    font-weight: 600;
    float: left;
    line-height: 1;
}
/* Sử dụng ::first-line để làm nổi bật dòng đầu tiên của mỗi đoạn */
.blog-container p::first-line {
    color: #6d2c2c;
}
/* Tùy chỉnh ::selection để thay đổi màu khi người dùng bôi đen văn bản */
.blog-container::selection {
    background-color: #6d2c2c;
    color: #edeef7;
}
/* Sử dụng ::before để thêm dấu ngoặc kép trang trí cho các đoạn trích dẫn (nội dung cần bổ sung đoạn trích dẫn blockquote) */
.blog-container blockquote::before {
    content: "❝ ";
    color: red;
}
.blog-container blockquote::after {
    content: " ❞";
    color: red;
}
/* Dùng :not() để áp dụng style cho tất cả heading ngoại trừ h1 */
.blog-container :is(h1, h2, h3):not(h1) {
    color: #746c6c;
}
/* Tạo phần comment với hiệu ứng hover cho từng comment */
.blog-container .comment:hover {
    outline: solid 2px #c2c8dd;
}

/* Sử dụng :nth-of-type() để tạo kiểu khác nhau cho các phần tử cùng loại */
.blog-container .comment:nth-of-type(odd) {
    background-color: #e8f0f8aa;
    border-radius: 10px;
}

/* css trang product-list */
.product-list-body {
    display: flex;
    justify-content: center;
}
.product-list-wrapper {
    --column: 3;
    --spacing: 10px;
    max-width: 900px;
    margin-left: calc(-1 * var(--spacing));
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: var(--spacing);
}
.box-item {
    flex-grow: 1;
    flex-basis: calc(100% / var(--column) - var(--spacing));
    min-width: 200px;
    margin-left: var(--spacing);
    border: #cacaca 1px solid;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}
.box-item:hover {
    box-shadow: 0 0 10px 5px rgba(117, 146, 146, 0.6);
}
.box-item .box-item-img {
    width: 100%;
    overflow: hidden;
}

.box-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-item .product-title {
    height: 4.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    text-align: center;
}
.block-button {
    display: flex;
    gap: 10px;
}
.btn-buy {
    color: #fff;
    background-color: #f89c1c;
    line-height: 1.8rem;
    padding: 2px 8px 4px 8px;
    border-radius: 12px;
}

.btn-buy-white {
    background-color: #fff;
    color: #f89c1c;
    border: 1px solid #f89c1c;
}
/* css register-layout */
.register-page {
    --color1: #0f172a;
    --color2: #818397;
    display: flex;
    min-height: 100vh;
    width: 100%;
    color: var(--color1);
}
.register-page a, .register-page a:visited {
    color:var(--color1);
}
.register-page h1{
    font-weight: 700;
}
.register-page .box-left {
    /* max-width: 560px; */
    padding: 48px;
    flex:1 1 0;
    display: flex;
    flex-direction: column;
    gap: 26px;
    /* align-items:center; */
    justify-content: center;
}
.register-page .box-left .box-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    font-size: 1.8rem;
}

.register-page .box-left .box-logo span{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: linear-gradient(135deg, #334155, #0f172a);
}
.register-page .box-left p, .register-page .box-left span{
    color:var(--color2);
}
.register-page .box-right{
    flex: 1 1 0;
    background-color: var(--color1);
    color: #fff;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.register-page .box-right .row{
    display: flex;
}
.register-page .box-right .row:first-of-type{
    gap: 32px;
}
.register-page .box-right .row:nth-of-type(2){
    max-width: 350px;
}
.register-page .box-right .row:last-of-type{
    gap: 8px;
}
.register-page .box-right .row .item{
    display: flex;
    flex-direction: column;
}
.register-page .box-right .row .item b{
    font-size: 2.9rem;
    font-weight: 700;
}
.register-page .box-right .row .item span{
    font-size: 1.4rem;
    color: var(--color2);
}
.register-page .box-right .row .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(135deg, #38bdf8, #818cf8);
}
.register-page .box-right .row .comment-author{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}
.register-page .box-right .row .comment-author span{
    color: var(--color2);
}
.register-page .login-form{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.register-page .login-form .form-text{

    padding: 8px;
    border: 1px solid var(--color2);
    border-radius: 8px;
}
.register-page .input-wrapper{
    display: flex;
    flex-direction: column;
}

.register-page .login-form .row{
    display: flex;
    justify-content:space-between;
}
.register-page .login-form .row .input-wrapper{
    flex-direction: row;
    gap: 10px;
}
.register-page .btn-login{
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: var(--color1);
    font-weight: 600;
}
.register-page .btn-login-white{
    border: 1px solid #818397;
    color:var(--color1);
    background-color: #fff;
}

