* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    font-weight: 600;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.8rem;
}

button,
input,
textarea,
select {
    font-size: inherit;
    font-weight: inherit;
}
body {
    color: #333333;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
    margin: 0;
    line-height: 1.5;
    font-size: 1.6rem;
}

a, a:visited {
    text-decoration: none;
}
.box-index{
    padding: 48px;
}
.cv-page {
    background-color: #6d2c2c;
    --primary-color: #21212a;
}
.cv-wrapper {
    width: 800px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.cv-info {
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 20px;
}
.cv-info-header {
    text-align: center;
}
.cv-info-body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.cv-info-body li {
    line-height: 3rem;
}
.cv-info-body .cv-detail-info {
    margin-left: 20px;
}
.box-cv-experience {
    background-color: #fff;
    color: var(--primary-color);
    flex-grow: 2;
    flex-basis: 0;
    padding: 20px;
}
.box-cv-experience ul {
    list-style-type: disc;
    padding-inline-start: 2.5rem;
}

.cv-avatar {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    background-image: url(../img/cv-avt.jpg);
    background-position: center;
    background-size: cover;
}

.box-cv-experience h1 {
    text-align: center;
    display: inline-block;
}

.box-cv-experience h2 {
    margin-bottom: 5px;
    border-bottom: 2px solid var(--primary-color);
}

.box-cv-experience h3 {
    display: flex;
    justify-content: space-between;

}

.box-cv-experience h3 span {
    display: inline-block;
}

.full-width {
    width: 100%;
}

/* CSS pricing-table */
.pricing-body {
    background: #edeef7;
}
.pricing-wrapper{
    display: flex;
    flex-direction: column;
}
.pricing-header,
.pricing-footer {
    height: 100px;
}
.pricing-header,
.pricing-body,
.pricing-footer {
    display: flex;
    justify-content: center;
}
.pricing-header,
.pricing-footer {
    align-items: center
}
.pricing-body, .pricing-header {    
    gap: 24px;
}
.pricing-header {    
    gap: 8px;
}

.pricing-plan {
    background: #fff;
    border-radius: 25px;
    text-align: left;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}
.pricing-plan:hover {
    box-shadow: 3px 5px 10px rgb(35, 28, 112, 0.4);
}

.pricing-body .pricing-plan:nth-child(2) {
    background-color: #231c70;
    color: #fff;
}

.btn-pricing {
    padding: 8px 15px;
    background-color: #231c70;
    color: #fff;
    border-radius: 20px;
    border: none;
}

.btn-yearly {
    color: #231c70;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
}

.plan-title {
    font-size: 3rem;
    font-weight: 700;
}
.plan-price {
    font-size: 36px;
    font-weight: 700;
}

.pricing-body .pricing-plan:not(:nth-child(2)) .plan-price {
    color: #231c70;
}

.per-user {
    color: #adadad;
}
.plan-features {
    line-height: 25px;
}
.plan-features li::before {
    content: "▹ ";
    color: green;
}
.additional-features {
    align-self: stretch;
    padding-top: 20px;
    border-top: solid 1px #adadad;
    font-size: 12px;
    font-weight: bold;
    color: #adadad;
}

/* css trang product-list */
.product-list-body {
    display: flex;
    justify-content: center;
}
.product-list-wrapper {
    --column: 3;
    --spacing: 10px;
    max-width: 900px;
    margin-left: calc(-1 * var(--spacing));
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: var(--spacing);
}
.box-item {
    flex-grow: 1;
    flex-basis: calc(100% / var(--column) - var(--spacing));
    min-width: 200px;
    margin-left: var(--spacing);
    border: #cacaca 1px solid;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}
.box-item:hover {
    box-shadow: 0 0 10px 5px rgba(117, 146, 146, 0.6);
}
.box-item .box-item-img {
    width: 100%;
    overflow: hidden;
}

.box-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-item .product-title {
    height: 4.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    text-align: center;
}
.block-button {
    display: flex;
    gap: 10px;
}
.btn-buy {
    color: #fff;
    background-color: #f89c1c;
    line-height: 1.8rem;
    padding: 2px 8px 4px 8px;
    border-radius: 12px;
}

.btn-buy-white {
    background-color: #fff;
    color: #f89c1c;
    border: 1px solid #f89c1c;
}
/* css register-layout */
.register-page {
    --color1: #0f172a;
    --color2: #818397;
    display: flex;
    min-height: 100vh;
    width: 100%;
    color: var(--color1);
}
.register-page a, .register-page a:visited {
    color:var(--color1);
}
.register-page h1{
    font-weight: 700;
}
.register-page .box-left {
    /* max-width: 560px; */
    padding: 48px;
    flex:1 1 0;
    display: flex;
    flex-direction: column;
    gap: 26px;
    /* align-items:center; */
    justify-content: center;
}
.register-page .box-left .box-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    font-size: 1.8rem;
}

.register-page .box-left .box-logo span{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: linear-gradient(135deg, #334155, #0f172a);
}
.register-page .box-left p, .register-page .box-left span{
    color:var(--color2);
}
.register-page .box-right{
    flex: 1 1 0;
    background-color: var(--color1);
    color: #fff;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.register-page .box-right .row{
    display: flex;
}
.register-page .box-right .row:first-of-type{
    gap: 32px;
}
.register-page .box-right .row:nth-of-type(2){
    max-width: 350px;
}
.register-page .box-right .row:last-of-type{
    gap: 8px;
}
.register-page .box-right .row .item{
    display: flex;
    flex-direction: column;
}
.register-page .box-right .row .item b{
    font-size: 2.9rem;
    font-weight: 700;
}
.register-page .box-right .row .item span{
    font-size: 1.4rem;
    color: var(--color2);
}
.register-page .box-right .row .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(135deg, #38bdf8, #818cf8);
}
.register-page .box-right .row .comment-author{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}
.register-page .box-right .row .comment-author span{
    color: var(--color2);
}
.register-page .login-form{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.register-page .login-form .form-text{
    padding: 8px;
    border: 1px solid var(--color2);
    border-radius: 8px;
}
.register-page .form-label {
    font-weight: 500;
}
.register-page .input-wrapper{
    display: flex;
    flex-direction: column;
}

.register-page .login-form .row{
    display: flex;
    justify-content:space-between;
}
.register-page .login-form .row .input-wrapper{
    flex-direction: row;
    gap: 10px;
}
.register-page .btn-login{
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: var(--color1);
    font-weight: 600;
}
.register-page .btn-login-white{
    border: 1px solid #818397;
    color:var(--color1);
    background-color: #fff;
}

.froggy-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.froggy-container figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.froggy-container img{
    width: 800px;
}
